.home-wrapper {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
  }


.boxes {
    display: flex;
    height: 310px;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $color-light;
    margin-bottom: 100px;



    .boxes-other-pages {
        height: 150px;
        display: flex;
        font-size: 20px;
        gap: 10px;
    }
    .leave-home-box {
        position: relative;
        width: 95%;
        height: 100%;
        margin: auto;
    }

    .leave-home-box-text:hover {
        translate: 0px -20px;
    }

    .leave-home-box > .leave-home-box-text {
        transition: 0.5s ease-in-out;
    }

    .leave-home-box-image {
        height: 100%;
    }
    .leave-home-box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .leave-home-box-text {
        position: absolute;
        margin: auto;
        top: 20px;
        width: 100%;
        height: 100%;
    }
    .leave-home-box-text p{
        font-size: 12px;
        font-weight: 200;
        font-family: 'Lato', sans-serif;
        position: absolute;
        top: 113px;
        right: 40px;
    }

    .leave-home-box-text h2 {
        text-align: center;
        position: relative;
    }


    .boxes-info {
        display: flex;
        justify-content: center;
        padding: 30px;
        flex-wrap: wrap;
        background-color: $color-main;
        height: 150px;
        flex-direction: column;
        font-size: 28px;
    }

    .opening-hour {
        display: flex;
        margin: auto;
    }

    .home-hour-paragraph {
        font-size: 16px;
        font-weight: 300;
    }
}

.main-carousel {
    margin-bottom: 120px;

    .caurousel-cell {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &-image {
        height: 260px;
        width: 660px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &-text {
        padding-left: 50px;
        padding-right: 200px;
    }

    &-text p {
        padding-right: 60px;
    }
    


}

.home-inst-grid {
    margin-top: 20px;
}

.home-inst-row {
    display: flex;
	flex-direction: row;
	height: 250px;
	width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.home-inst-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-inst-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.home-inst-box-icones {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.home-inst-box-icones i {
    color: $color-light;
    position: relative;
    font-size: 24px;
    top: 105px;
    left: 40%;
    padding: 5px;
}

.home-inst-box-icones:hover {
    display: block;
    background: $color-dark;
    opacity: 0.85;
}

.home-inst-box-icones i:hover {
    color: $color-main;
}

.home-link-to-inst {
    font-weight: 200;
    text-decoration: none;
    left: 10px;
    color: $color-main;
}

